body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f5f6;
}

nav {
  background: #fff;
  border-bottom: 2px solid #f4f5f6;
}

main.container {
  background: #fff;
  padding: 20px 30px 0;
}

a {
  text-decoration: none;
}

nav div.container:first-child {
  background: #f72210;
}

.col-lg-6 {
  padding: 0;
}

.container {
  max-width: 1310px;
}

.subscribe a {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.subscribe a:last-child {
  color: #f72210;
  background: #fff;
  padding: 0 10px 0 12px;
}

.logo {
  top: 0;
  right: 50%;
  margin-right: -198px;
  width: 396px;
  height: 60px;
  padding: 20px 0;
}

svg {
  width: 100%;
}

ul li {
  list-style: none;
}

nav ul li {
  height: 24px;
  flex-grow: 1;
  border-right: 1px solid #d9d9d9;
}

nav ul li:last-child {
  border: none;
}

nav ul {
  width: 100%;
  padding: 15px 160px 15px 0;
}

.arrow {
  height: 14px;
  width: 8px;
}

div.logo-box {
  padding: 20px 10px 15px 10px;
  height: 95px;
}

.menu-decor li a {
  color: #000;
  font-weight: 700;
  font-size: 21px;
}

.search-div {
  right: 0;
  margin-top: -15px;
  margin-bottom: -15px;
  width: 160px;
  height: 54px;
}

.search-div input {
  padding: 0;
  width: 60px;
  height: 54px;
  font: 400 16px "MS Shell Dlg 2", sans-serif;
  color: rgba(0, 0, 0, 0.55);
  border: none;
}

.search-div label {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  height: 20px;
  width: 20px;
  margin: 0;
}

.menu-decor::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 13px solid #f72210;
  border-left: 12px solid #fff;
  width: 78px;
}

.col-wrapper {
  max-width: 71%;
  flex-basis: 71%;
  padding: 0 15px;
}

.col-1 {
  max-width: 41%;
  flex-basis: 41%;
}

.col-2 {
  max-width: 59%;
  flex-basis: 59%;
}

.col-3 {
  max-width: 29%;
  flex-basis: 29%;
}

.f-back-img {
  flex: 1 1 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.back-click {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.col-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
}

.related li {
  padding: 10px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
}

.related li p {
  font-size: 19px;
  color: #000;
  line-height: 22px;
}

.f-new-title {
  font-size: 24px;
  color: #000;
  line-height: 24px;
  word-spacing: -0.1rem;
}

.c-and-t h3 a {
  font-family: "Lora", serif;
  font-size: 20px;
  color: rgb(39, 39, 39);
  line-height: 24px;
  word-spacing: -0.1rem;
}

.c-and-t-bot {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 6px;
  color: #272727;
  background: #c2d4d7;
}

.c-and-t .article-text {
  color: rgba(39, 39, 39, 0.5);
  margin-bottom: 10px;
}

.c-and-t div:last-child {
  padding: 15px 10px 20px;
}

.c-and-t article {
  padding: 0 10px;
}

.t-new-title {
  font-size: 22px;
  color: #000;
  line-height: 24px;
  word-spacing: -0.1rem;
}

.pxp-10 {
  padding: 0 10px;
}

.gray {
  background-color: #f4f5f7;
}

.row-wrap-ma {
  margin: 0 -20px;
}

h3 {
  line-height: 24px;
  margin-bottom: 10px;
}

.gray h3 {
  line-height: 22px;
}

.gray h3 a {
  line-height: 22px;
}

p.article-text {
  font: 15px Arial, Helvetica, sans-serif;
  color: rgb(51, 51, 51);
  line-height: 20px;
}
.sponsor-txt-div{
  padding: 20px;
}
.more-stories{
  padding-top: 20px;
}
.more-stories li{
  padding: 14px 0;
  color: #000;
}
.more-stories p{
  font: 15px Arial, Helvetica, sans-serif; 
  color: rgb(51, 51, 51);
  margin: 0;
}
.more-stories div{
  line-height: 20px;
}

.more-stories div>a{
  flex: 1;
  color: #000;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
  display: block;
}
.clear{
  clear:both;
}
.subject {
  bottom: 0;
  left: 0;
  padding: 4px 17px 5px;
  color: #f72210;
  background: rgba(255, 255, 255, 0.9);
}

.subject-s {
  bottom: 0;
  left: 0;
  padding: 4px 17px 5px;
  color: #3581f4;
  background: rgba(255, 255, 255, 0.9);
}

.opinion-img {
  background: url(https://d.newsweek.com/en/full/1531320/ahmed-sahi.png?w=63&h=63&f=47c7fc05ada162fa66aa250382a017b9) no-repeat;
  height: 63px;
  width: 63px;
  border-radius: 50%;
  margin-right: 15px;
}

.latest-img {
  width: 135px;
  height: 90px;
  margin-right: 15px;
}

.opinion-txt {
  flex: 1;
}

.opinion-txt a {
  flex: 1;
  color: #000;
  font-size: 17px;
  line-height: 21px;
}

.opinion-txt p {
  flex: 1;
  color: rgb(85, 85, 85);
  font-size: 14px;
  margin: 4px 0 0;
}

.opinion-list li {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 10px 0;
}

.col-3 article {
  margin-bottom: 30px;
}

.opinion-list li:last-child {
  border-bottom: none;
}

.opinion-list li:nth-child(2) .opinion-img {
  background: url(https://d.newsweek.com/en/full/83499/newt-gingrich.png?w=63&h=63&l=48&t=55&f=d8b4f8dfaad8a5f0f71bffcc6c0d6a77);
}

.opinion-list li:nth-child(3) .opinion-img {
  background: url(https://d.newsweek.com/en/full/109198/lee-habeeb.png?w=63&h=63&f=dd1164c722d99b834fc2f3f410f433d4);
}

.opinion-list li:nth-child(4) .opinion-img {
  background: url(https://d.newsweek.com/en/full/1531056/kathryn-spletstoser.png?w=63&h=63&f=52758742696417bedff18fb0925b8625);
}

.opinion-list li:nth-child(5) .opinion-img {
  background: url(https://d.newsweek.com/en/full/1530962/emily-penn.png?w=63&h=63&f=dc71ad6093296c276025808415018c80);
}

.opinion-list li:nth-child(6) .opinion-img {
  background: url(https://d.newsweek.com/en/full/1530403/natan-sharansky.png?w=63&h=63&f=aa4bf66caef28357d774bfc6c0633a59);
}

@media screen and (max-width: 992px) {
  .col-wrapper {
    max-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 0;
  }

  .col-1 {
    flex-basis: 45%;
    max-width: 45%;
  }

  .col-2 {
    flex-basis: 55%;
    max-width: 55%;
  }

  .col-3 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 768px) {
  .col-wrapper {
    max-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .col-1 {
    flex-basis: 100%;
    max-width: 100%;
    flex: 1;
    order: 2;
  }

  .col-2 {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 0;
    order: 1;
  }

  .col-3 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .more-stories .latest-img{
    width: 258px;
    height: 172px;
  }
}
