body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f5f6;
}

nav {
  background: #fff;
  border-bottom: 2px solid #f4f5f6;
}

main.container, footer.container {
  background: #fff;
  padding: 20px 30px 0;
}

footer.container {
  background: #fff;
  padding: 30px;
}

a {
  text-decoration: none;
}

nav div.container:first-child {
  background: #f72210;
}

.col-lg-6 {
  padding: 0;
}

.container {
  max-width: 1310px;
}

.subscribe a {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.subscribe a:last-child {
  color: #f72210;
  background: #fff;
  padding: 0 10px 0 12px;
}

.logo {
  top: 0;
  right: 50%;
  margin-right: -198px;
  width: 396px;
  height: 60px;
  padding: 20px 0;
}
.scroll-nav{
  background: #f72210; 
  position: fixed;
  z-index: 10;
  top: 0;
  padding: 15px 15px 15px;
  
}
.scroll-nav .sc-logo{
  width:132px;
  height: 20px;
  padding: 0;
  margin: 0;
  z-index: 11;
}
div.menu-bar{
  
  
  width:74px;
}
a.menu-bar{
  
  display: block;
  width: 74px;
  height: 50px;

}
span.menu-bar{
  width: 30px;
  height: 4px;
  display: block;
  background: #fb9a94;
  margin: 2px 0
}
svg {
  width: 100%;
}

ul li {
  list-style: none;
}

nav ul li {
  height: 24px;
  flex-grow: 1;
  border-right: 1px solid #d9d9d9;
}

nav ul li:last-child {
  border: none;
}

nav ul {
  width: 100%;
  padding: 15px 160px 15px 0;
}

.arrow {
  height: 14px;
  width: 8px;
}

footer .f-logo{
  width: 236px;
  height: 36px;
}
div.logo-box {
  padding: 20px 10px 15px 10px;
  height: 95px;
}
div.s-list{
  justify-content: end;
}
.s-list li{
  margin-left: 10px;
}
.s-list li:first-child{
  margin-left: 0;
}
.menu-decor li a {
  color: #000;
  font-weight: 700;
  font-size: 21px;
}

.search-div {
  right: 0;
  margin-top: -15px;
  margin-bottom: -15px;
  width: 160px;
  height: 54px;
}

.search-div input {
  padding: 0;
  width: 60px;
  height: 54px;
  font: 400 16px "MS Shell Dlg 2", sans-serif;
  color: rgba(0, 0, 0, 0.55);
  border: none;
}

.search-div label {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  height: 20px;
  width: 20px;
  margin: 0;
}

.menu-decor::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 13px solid #f72210;
  border-left: 12px solid #fff;
  width: 78px;
}

.col-wrapper {
  max-width: 71%;
  flex-basis: 71%;
  padding: 0 15px;
}

.col-1 {
  max-width: 41%;
  flex-basis: 41%;
}

.col-2 {
  max-width: 59%;
  flex-basis: 59%;
}

.col-3 {
  max-width: 29%;
  flex-basis: 29%;
}

.f-back-img {
  flex: 1 1 100%;
  max-width: 100%;
  margin-bottom: 10px;
  width: 100%;
}

.m-block p {
  padding: 0 7px;
  margin-right: 7px;
  background: #f72210;
  color: #fff;
  font-size: 16px;
}

.m-block h4 a {
  color: #f72210;
  font-size: 16px;
  line-height: 20px;
}

.m-block h2 a {
  color: #000;
  font-size: 20px;
  line-height: 16px;
}

.m-block h2 {
  line-height: 16px;
}

.m-block div:last-of-type {
  margin: 10px 0;
}

.issue {
  padding: 10px 12px;
  background: #f4f5f6;
}

.back-click {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.col-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
}

.related li {
  padding: 10px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
}

.related li p {
  font-size: 19px;
  color: #000;
  line-height: 22px;
}

.f-new-title {
  font-size: 24px;
  color: #000;
  line-height: 24px;
  word-spacing: -0.1rem;
}

.c-and-t h3 a {
  font-family: "Lora", serif;
  font-size: 20px;
  color: rgb(39, 39, 39);
  line-height: 24px;
  word-spacing: -0.1rem;
}

.c-and-t-bot {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 6px;
  color: #272727;
  background: #c2d4d7;
}

.c-and-t .article-text {
  color: rgba(39, 39, 39, 0.5);
  margin-bottom: 10px;
}

.c-and-t div:last-child {
  padding: 15px 10px 20px;
}

.c-and-t article {
  padding: 0 10px;
}

.t-new-title {
  font-size: 22px;
  color: #000;
  line-height: 24px;
  word-spacing: -0.1rem;
}

.pxp-10 {
  padding: 0 10px;
}

.gray {
  background-color: #f4f5f7;
}

picture.m-back-img {
  overflow: hidden;
  background: #fff;
  position: relative;
  padding-bottom: 100%;
  flex-basis: 100%;
}

img.m-back-img {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  height: 100%;
  z-index: 1;
}

.row-wrap-ma {
  margin: 0 -20px;
}

h3 {
  line-height: 24px;
  margin-bottom: 10px;
}

.gray h3 {
  line-height: 22px;
}

.gray h3 a {
  line-height: 22px;
}

p.article-text {
  font: 15px Arial, Helvetica, sans-serif;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.editors-p {
  margin-top: 30px;
}

.editors-p article {
  margin-bottom: 30px;
}

.m-wrapper article {
  margin-bottom: 30px;
}

.sponsor-txt-div {
  padding: 20px;
  margin-bottom: 30px;
}

.more-stories {
  padding-top: 20px;
}

.more-stories li {
  padding: 14px 0;
  color: #000;
}

.more-stories p {
  font: 15px Arial, Helvetica, sans-serif;
  color: rgb(51, 51, 51);
  margin: 0;
}

.more-stories div {
  line-height: 20px;
}

.more-stories div > a {
  flex: 1;
  color: #000;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
  display: block;
}

.clear {
  clear: both;
}

.subject {
  bottom: 0;
  left: 0;
  padding: 4px 17px 5px;
  color: #f72210;
  background: rgba(255, 255, 255, 0.9);
}

.subject-s {
  bottom: 0;
  left: 0;
  padding: 4px 17px 5px;
  color: #3581f4;
  background: rgba(255, 255, 255, 0.9);
}

.opinion-img {
  background: url(https://d.newsweek.com/en/full/1531320/ahmed-sahi.png?w=63&h=63&f=47c7fc05ada162fa66aa250382a017b9) no-repeat;
  height: 63px;
  width: 63px;
  border-radius: 50%;
  margin-right: 15px;
}

.latest-img {
  width: 135px;
  height: 90px;
  margin-right: 15px;
}

.opinion-txt {
  flex: 1;
}

.opinion-txt a {
  flex: 1;
  color: #000;
  font-size: 17px;
  line-height: 21px;
}

.opinion-txt p {
  flex: 1;
  color: rgb(85, 85, 85);
  font-size: 14px;
  margin: 4px 0 0;
}

.opinion-list li {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 10px 0;
}

.col-3 article {
  margin-bottom: 30px;
}

.opinion-list li:last-child {
  border-bottom: none;
}

.opinion-list li:nth-child(2) .opinion-img {
  background: url(https://d.newsweek.com/en/full/83499/newt-gingrich.png?w=63&h=63&l=48&t=55&f=d8b4f8dfaad8a5f0f71bffcc6c0d6a77);
}

.opinion-list li:nth-child(3) .opinion-img {
  background: url(https://d.newsweek.com/en/full/109198/lee-habeeb.png?w=63&h=63&f=dd1164c722d99b834fc2f3f410f433d4);
}

.opinion-list li:nth-child(4) .opinion-img {
  background: url(https://d.newsweek.com/en/full/1531056/kathryn-spletstoser.png?w=63&h=63&f=52758742696417bedff18fb0925b8625);
}

.opinion-list li:nth-child(5) .opinion-img {
  background: url(https://d.newsweek.com/en/full/1530962/emily-penn.png?w=63&h=63&f=dc71ad6093296c276025808415018c80);
}

.opinion-list li:nth-child(6) .opinion-img {
  background: url(https://d.newsweek.com/en/full/1530403/natan-sharansky.png?w=63&h=63&f=aa4bf66caef28357d774bfc6c0633a59);
}

.pyb-12 {
  padding-bottom: 12px;
}

.f-sld article {
  margin-bottom: 30px;
}

.f-sld .f-new-title {
  font-size: 22px;
  line-height: 22px;
  display: block;
}

.f-sld .subject {
  width: 70px;
  height: 52px;
  font-size: 20px;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
  line-height: 52px;
  text-indent: 5px;
}

.f-sld img {
  margin-bottom: 20px;
}

.n-div .n-sld-icon::after {
  display: block;
  content: " ";
  height: 27px;
  width: 29px;
  border-right: 3px solid #f72210;
  border-bottom: 3px solid #f72210;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

div.n-logo {
  padding: 20px;
  margin: 0 auto;
  max-width: 300px;
}

.n-div {
  margin-bottom: 15px;
}

.m-wrapper {
  margin-top: 20px;
}

.bot-row {
  padding-top: 30px;
}

.height-fit {
  height: max-content;
}

.n-div h2 {
  color: rgb(51, 51, 51);
  font-size: 19px;
  line-height: 19px;
}

.dif-news h2 {
  padding-top: 15px;
  padding-bottom: 7px;
}

.dif-news h2 a {
  color: #f72210;
  font-size: 22px;
  line-height: 19px;
}

.dif-news article {
  margin-bottom: 30px;
}

.n-div span {
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) no-repeat #f72210;
  margin-right: 10px;
}
.pre-f-section{
  padding:40px 0 22px 0;
}

.pre-f-section::before{
  position: absolute;
  left:-40px;
  top: 0;
  display: block;
  width:120%;
  height:1px;
  content: " ";
  border-top: 2px solid #f4f5f6;
  
}
.pre-f-section::after{
  position: absolute;
  left:0px;
  bottom: 0;
  display: block;
  width:100%;
  height:1px;
  content: " ";
  border-top: 2px solid #f4f5f6;
  
}
.pre-f-section .f-back-img {
  width: 170px;
  height: 228px;
}

.pre-f-section .f-back-img:first-child {
  top: 0;
  left: 0;
}

.pre-f-section .f-back-img:last-child {
  top: 13px;
  left: 80px;
}

.pre-f-section h2 {
  font-size: 16px;
  color: #f72210;
  margin-bottom: 11px;
}

.pre-f-section h3 {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 10px;
}

.pre-f-section p {
  font: 300 15px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pre-f-section a {
  color: #fff;
  font: 18px/18px;
  padding: 6px 10px 6px 12px;
  background: #f72210;
  width: max-content;
}
.pre-f-section a:hover {
  background: #de1f0e;
  text-decoration: none;
}

.pre-f-section .img-holder {
  height: 241px;
  width: 260px;
}

.pre-f-section .txt-holder {
  flex: 1;
  padding-left: 30px;
}

.pre-f-section .gray {
  padding: 30px;
}

.pre-f-section article > div {
  margin-bottom: 20px;
}

.pre-f-section .n-back {
  background: url(https://d.newsweek.com/en/full/1525348/newsletter-promo-home-page.png?w=397&h=265&q=90&f=172a044c08b5e64f42dcb61b425487bf) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 191px;
  display: flex;
  flex: 1 1 100%;
}

div.n-logo > a:first-of-type {
  padding: 10px;
  background: rgb(102, 102, 102);
  color: #fff;
  width: max-content;
  margin-bottom: 10px;
}

div.n-logo > a:last-of-type {
  color: rgb(51, 51, 51);
  font-size: 15px;
}
@font-face {
  font-family:'Genericons';
  font-display:swap;
  src:local('Genericons'),
  url(https://g.newsweek.com/www/fonts/Genericons.eot);
  font-display:swap;
  src:url(https://g.newsweek.com/www/fonts/Genericons.eot?#iefix) format("embedded-opentype"),
  url(https://g.newsweek.com/www/fonts/Genericons.woff) format("woff"),
  url(https://g.newsweek.com/www/fonts/Genericons.ttf) format("truetype"),
  url(https://g.newsweek.com/www/fonts/Genericons.svg#Genericons) format("svg");
  font-weight:normal;
  font-style:normal
}
.footer-list li {
  font: 14px Arial, Helvetica, sans-serif;
  margin: 6px 10px 6px 0;
  color: rgb(102, 102, 102);
  border-right: 1px solid #d9d9d9;
}
.footer-list li:last-child{
  border: none;
}
p.footer-list{
  display: flex;
  color: rgb(102, 102, 102);
  line-height: 17px;
  font: 14px Arial, Helvetica, sans-serif;
  margin: 6px 15px 0 0;
}
.off{
  margin-left: 8.33333333%;
}
.footer-list li a{
  color: rgb(102, 102, 102);
  padding-right: 10px;
}

.top-f p{
  font: 12px Arial, Helvetica, sans-serif;;
  line-height: 12px;
  text-transform: uppercase;
  color:#666;
  
}
.top-f .f-logo, .top-f p, .top-f ul{
  margin-bottom: 10px;
}
.g-icon{
  font-size:26px;
  text-align:center;
  display:block;
  font-family:"Genericons";
  cursor:pointer;
  color: rgb(102, 102, 102);
  line-height: 24px;
  
}
.g-facebook::before{
  content: "\f203";
  
}
.g-twitter::before{
  content: "\f202";
  
}
.g-instagram::before{
  content: "\f215";
  
}
.g-tumblr::before{
  content: "\f214";
  
}
.g-linkedin::before{
  content: "\f207";
  
}

@media screen and (max-width: 992px) {
  .col-wrapper {
    max-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
  }

  .col-1 {
    flex-basis: 45%;
    max-width: 45%;
  }

  .col-2 {
    flex-basis: 55%;
    max-width: 55%;
  }

  .col-3 {
    flex-basis: 100%;
    max-width: 100%;
  }

  main.container, footer.container {
    padding: 20px 15px 0;
  }
  .off  {
    margin:0
  }
}


@media screen and (max-width: 768px) {
  .col-wrapper {
    max-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-wrap: wrap;
  }

  .m-wrapper .m-block {
    margin-bottom: 30px;
  }

  .col-1 {
    flex-basis: 100%;
    max-width: 100%;
    flex: 1;
    order: 2;
  }

  .col-2 {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 0;
    order: 1;
  }

  .col-3 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-3{

  }

  .more-stories .latest-img {
    width: 258px;
    height: 172px;
  }
  .top-f p{
   padding-left: 0;
  }
  div.s-list{
    justify-content: flex-start;
  }
  .s-list{
    padding: 0;
  }
  footer .top-f > div.f-logo{
    width: 100%;
  }
  .footer-list li{
    border: none;
  }
}
